@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    padding-bottom: 50px;
    margin: 0;
    padding-top: 60px;
    background-color: #4389b1;
    /* Adjust this value to create enough space for the navigation bar */

}

.narrow-hr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.narrow-hr {
    height: 1px;
    width: 50%;
    background-color: #000;
}

.logo-image {
    display: flex;
    height: 60px;
    width: 60px;
    /* Adjust the height as needed */

    /* Adjust the width as needed */
}

/* Reset logo size */
.custom-logo {
    height: 55px;
    width: 90px;
}

/* Style for the "HOT" text */
.logo-text {
    font-size: 24px;
    /* Adjust the font size as needed */
    margin-left: 10px;
    /* Add spacing between logo and text */
}



/* Styling for the burger menu icon */
.burger-menu {
    display: none;
    /* Initially hide the burger menu on larger screens */
    cursor: pointer;
    padding: 10px;
}



/* Styling for the navigation links */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}




/* Hide the links inside the navigation menu (except for logo/home) */
.nav #myLinks {
    display: none;
}

/* Style navigation menu links */
.nav a {
    color: #4389b1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}

/* Style the hamburger menu */
.nav a.icon {

    display: block;

    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.nav a:hover {

    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}


/*------------------hero*/

.intro-container {
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Lato';
}

.intro-container h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #1daee2;
    font-family: 'Lato';
}

.writing-container1 {
    font-family: 'Lato';
    font-size: 20px;
    color: #393939;



    margin-top: 30px;

}

.writing-container h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #1daee2;
    font-family: 'Lato';
}

.writing-container {
    font-family: Lato;
    font-size: 20px;
    color: #393939;



    margin-top: 30px;

}

.title {
    color: #1daee2;
}

.writing-container h4 {
    color: #1daee2;
}

.writing-container1 h4 {
    color: #1daee2;
}

.writing-container2 h1 {
    color: #1daee2;
}

.picture-container {
    max-width: 500px;
    /* Adjust the width as per your preference */
    height: auto;
}

.container h1 {
    justify-content: center;
    color: #1daee2;
}

.container h5 {
    text-align: justify;
}

.container_content h5 {
    text-align: justify;
}

.writing-container2 {
    font-family: Lato;
    font-size: 20px;
    color: #393939;
    text-align: center;



    margin-top: 30px;

}

.writing-container {
    font-family: Lato;


    margin-top: 30px;
}


.writing-container h1 {
    margin-bottom: 40px;
    text-align: center;
    color: #1daee2;
}

.picture-container1 {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

}

.picture-div {

    position: relative;

}

.container_content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    left: 10px;
    right: 10px;


}

.video {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
}



.nav {
    position: fixed;
    background-color: white;
    font-size: 15px;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    z-index: 4;

}






.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    transition: ease-in-out;
    text-align: center;

}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a.current,
.nav a:hover {
    color: red;
    font-weight: bold;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 3px 10px;
    transition: all 0.3s ease-in-out;
}

.nav a h1 {
    color: #1daee2;
    ;
}

.nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active .container {
    padding: 1px 0;

}

#student {
    background-image: url('./images/hero9.jpg');
}

.nav.active a {
    color: #000;
}

#title {
    color: white;
}

.nav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
    background-image: url('./images/hero9.jpg');
    background-size: cover;
    background-position: center center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    /* Set text color to be visible on the background */
    padding: 20px;

    z-index: -2;


}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    height: 70vh;
    left: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2,
content h3 {

    font-size: 150%;
    margin: 20px 0;

}

content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;

}


.wrapper {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80vw;
    margin: 0 auto;
    /* add this rule */
    padding-top: 50px;
    /* add desired padding value */
    padding-bottom: 50px;


}

/*.wrapper {
    padding: 0;
    margin: 0;
    border: 1px solid orange;
    position: absolute;
    top: -100px;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    } */

.container-school {
    width: 28vmin;
    height: 28vmin;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #393939;
    border-bottom: 10px solid #56C0FF;
}

.container-school1 {
    width: 28vmin;
    height: 28vmin;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    position: relative;
    font-size: 12px;
    border-radius: 0.5em;
    background-color: #393939;
    border-bottom: 10px solid #56C0FF;
}

i {
    color: #56C0FF;
    font-size: 2.5em;
    text-align: center;
}

span.num {
    color: whitesmoke;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    padding: 0.7em 0;
    font-weight: 400;
    line-height: 0;

}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 85vw;
    }

    .container-school {
        height: 26vmin;
        width: 26vim;
        font-size: 12px;
    }

    .container-school1 {
        height: 26vmin;
        width: 26vim;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }

    .container-school {
        height: 30vmin;
        width: calc(50% - 40px);
        font-size: 14px;
    }

    .container-school1 {
        height: 30vmin;
        width: calc(50% - 40px);
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        gap: 15px;
    }

    .container-school {
        height: 25vmin;
        width: 100%;
        font-size: 8px;
    }

    .container-school1 {
        height: 25vmin;
        width: 100%;
        font-size: 8px;
    }


}

/*-------------------cards for students*/

.container_students {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;

    background-position: center;

    justify-content: center;
    align-items: center;


}

.student-intro-container {
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    font-size: 22px;
    text-align: center;
    color: #555;
}

.student-title {
    margin-top: auto;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Set the desired height for the container */
}

.button-card {
    visibility: hidden;
    z-index: 3;
}

.panel.active .button-card {
    visibility: visible;
    z-index: 3;
    margin-top: 200px;
}



.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    overflow: hidden;


}

.panel h4 {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    margin: 0;
    opacity: 0;
    z-index: 1;
    padding: 20px;
    overflow: active;
    text-align: justify;


}

.panel h2 {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    margin: 0;
    opacity: 0;
    z-index: 3;
    padding: 20px;
    overflow: active;
    text-align: justify;

}

.panel h3 {
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    margin: 0;
    opacity: 0;
    z-index: 3;
    padding: 20px;
    overflow: active;
    text-align: justify;

}

.panel.active {
    flex: 5;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active .overlay {
    /* show overlay only when panel has the "active" class */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    z-index: 2;
    opacity: 1;


}

.panel.active h3 {
    opacity: 1;
}

.panel.active h2 {
    opacity: 1;
}

.panel.active h4 {
    opacity: 1;
    z-index: 3;
}

.panel:hover .overlay {
    opacity: 1;
}

@media (max-width: 480px) {
    .container_students {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {

        display: none;
    }
}

@media (max-width: 1100px) {
    .panel h3 {

        padding: 10px;
    }

    .panel h4 {
        font-size: 14px;
        padding: 10px;
    }

}


@media (max-width: 445px) {
    .panel h3 {
        font-size: 15px;
        padding: 5px;
    }

    .panel h4 {
        font-size: 12px;
        padding: 5px;
    }

    .panel {
        height: 100vh;
    }

}

/*-----------------teams*/

.teams-container {
    font-family: Lato;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
}

.title {
    text-align: center;
    margin-top: 30px;
}

/*-----------------4 panets on home page*/
.placeholder img {
    width: 200px;
    height: 200px;
}


.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-image {
    width: 100%;
    height: 100%
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    /* Adjust this value to position the menu below the nav bar */
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    transition: max-height 0.3s ease-in-out;
    background-color: white;
    /* Set the background color of the menu */
    padding: 10px;
    /* Add padding to the menu items */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a box shadow for a dropdown effect */
    display: none;
    /* Initially hide the menu */
}

.menu a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

/* Style for the burger menu icon */
.icon {
    display: block;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    /* Adjust this value to position the icon */
    right: 10px;
    /* Adjust this value to position the icon */
    z-index: 3;
}

/* Styling for the navigation menu when it's open */
.menu.show {
    display: flex;
}

/* Add the margin-top to the content when the menu is open */
.menu-open {
    margin-top: 160px;
    /* Adjust the value to create space for the menu */
}

#content {
    padding-top: 25px;
}

#content1 {
    padding-top: 1px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the opacity (last value) to control the darkness of the overlay */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.a {
    color: white;
}

.overlay-content {
    font-size: 3vh;
    color: white;
    text-align: center;
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}


.overlay-content {
    font-size: 3vh;

}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------slider for schools*/


.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('https://www.schoolhousemagazine.co.uk/wp-content/uploads/2017/01/Dulwich-College-1.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-container {
    position: relative;
}

.slide {
    /* Rest of your slide styles */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    /* Rest of your arrow styles */
}

.left-arrow {
    left: 20px;
    z-index: 3;
    /* Adjusted z-index */
}

.right-arrow {
    right: 20px;
    z-index: 3;
    /* Adjusted z-index */
}

.arrow i {
    transform: rotate(180deg)
}

/*-------------------pupil stories */

.img-fluid {
    border-radius: 10px;
}